section{
    color: white;
}
h1{
    font-family:  Courier, monospace;
    padding:10px;
    display: inline;
    float:left;
    color:white;
    margin: 10px;
}
i{
    
    font-size: 40px;
    /* color:pink; */
    /* display: inline; */
    margin-left: 10px;
    
}

.jumbo{
    background:url(assets/images\ \(2\).jpg);
    height: 700px;
    border-radius: 0%;

}
p{
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
    padding:10px;
    display: inline;
    float:left;
}
a{
    margin-top: 20px;
}
a:hover{
    border-bottom: 1px solid grey;
    
}
.progress-bar{
    border-radius: 4%;
}
.navbar{
    margin: 0%;
    border-radius: 0%;
}